html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
    font-family: 'Montserrat', sans-serif;
}

.comic-text,
h1 {
    font-family: 'Bangers', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #000000;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png');
}

:root {
    --animate-delay: 0.1s;
}

#root {
    width: 100%;
}

.hidden {
    display: none;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: #000042;
}

.pure-button-primary:hover {
    outline: 1px solid #ec1d24;
}

.material-icons.md-36 {
    font-size: 36px;
}

.pure-button-error {
    background: #ec1d24;
    color: white;
}

#team-input {
    border-radius: 2px 0 0 2px;
}

.save-team-button {
    display: flex;
    align-items: flex-end;
    padding: 6px 10px;
    margin-left: 1.5em;
    border-radius: 0 2px 2px 0;
    float: right;
}

.pure-button-outline {
    background: transparent;
    color: white;
}
.pure-button-outline:hover {
    color: #ec1d24;
}

.pure-g > div {
    box-sizing: border-box;
}

#nav {
    background: #000042;
    border-bottom: 1px solid white;
}

.hero-card {
    padding: 1em;
    position: relative;
    transform-style: flat;
}

.hero-card img {
    transition: all 1s ease-in-out;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.hero-card:hover {
    cursor: pointer;
    color: #ec1d24;
    text-shadow: 1px 1px 6px rgba(0, 0, 255, 0.37);
}

#character-search {
    width: 262px;
}

#search-results .on-team img {
    filter: grayscale(100%);
}

.card-variant-text {
    font-size: 0.8em;
    margin-top: 0;
    opacity: 0.7;
}

a {
    text-decoration: none;
}

#banner-text {
    font-size: 4em;
    font-family: 'Bangers', cursive;
    text-shadow: 4px 4px #ec1d24;
}
.container {
    max-width: 980px;
    margin: 0 auto;
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}

.my-1 {
    margin-bottom: 1em;
    margin-top: 1em;
}
.my-2 {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}
.my-3 {
    margin-bottom: 2em;
    margin-top: 2em;
}

.mb-1 {
    margin-bottom: 0.5em;
}

.mb-3 {
    margin-bottom: 2em;
}

.mt-auto {
    margin-top: auto;
}

.ml-auto {
    margin-left: auto;
}

.mx-auto,
#character-search {
    margin-left: auto;
    margin-right: auto;
}

.pad {
    padding: 1em;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-small {
    font-size: .8em;
}

.text-body {
    color: #222;
}

svg.checkmark {
    position: absolute;
    top: -2%;
    left: 18%;
    height: 75%;
    width: 75%;
}

polygon {
    stroke: #4a6522;
    stroke-width: 5px;
    fill: none;
    stroke-dasharray: 1383px;
    stroke-dashoffset: -1383px;
    transition: stroke-dashoffset fill 0.3s linear 0.3s, fill 0.25s ease;
}

.team-container {
    background-image: radial-gradient(farthest-corner at 50% 507px, #ec1d24, transparent 70%);
    border-bottom: 1px solid white;
}
.saved-team ul {
    list-style-type: none;
}

#search-results polygon.active {
    fill: rgba(153, 255, 0, 0.527);
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 0.4s linear, fill 0.4s ease 0.4s;
}

.search-container {
    position: relative;
}

.search-container label {
    padding-left: 15px;
}

.link-button {
    background: transparent;
    color: #66666f;
    text-decoration: underline;
}

.link-button:hover {
    color: #ccc;
}

.link-button:focus {
    outline: none;
}
.link-button:active {
    border-style: none;
}

.stats-container {
    position: absolute;
    background: white;
    padding: 1em;
    opacity: 0.9;
    font-size: 0.9em;
    top: 0;
    min-height: 100%;
    color: #1a1b1d;
}

.stat-head {
    font-size: 2.5em;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.loading-text {
    transition: all 0.3s;
}

.modal {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 0.5em 10px 10px;
    border: 1px solid #888;
    width: 90%;
    max-width: 916px;
    color: #282828;
    margin-bottom: 60px;
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-head button {
    background-color: white;
    padding: 0.25em 0.5em;
}

.modal-head .pure-button-hover,
.modal-head .pure-button:focus,
.modal-head .pure-button:hover {
    background-image: none;
    outline: 1px solid #cacaca;
}
.modal-body {
    color: #282828;
}
.modal-body img {
    margin: 10px auto;
    padding: 20px;
    max-width: 83%;
    height: auto;
}
.modal-footer {
    text-align: center;
    padding: 15px 0 0;
}
.variant-list {
    padding-left: 20px;
}
.appearance-stats {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: column;
    margin-top: auto;
    padding-bottom: 30px;
}
.appearance-stat {
    padding: 12px 5px;
    background: #333;
    color: white;
    text-align: center;
}

.appearance-stat span {
    font-size: 2em;
}

.accent {
    background-color: #ec1d24;
    height: 40px;
    clip-path: polygon(0 0, 0 0, 670px 31%, 0 100%);
}

@media all and (min-width: 768px) {
    .banner {
        font-size: 5em;
        text-shadow: 4px 4px #ec1d24;
    }

    .text-md-left {
        text-align: left;
    }

    .flex-md-row {
        flex-direction: row;
    }

    .stat-head {
        font-size: 3.3em;
    }

    .modal {
        padding: 0.5em 1.5em 1.5em;
        width: 80%;
    }

    .modal-footer {
        text-align: right;
    }

    .justify-content-between-md {
        justify-content: space-between;
    }
}
